.places {
    margin-top: 92px;
    display: grid;
    row-gap: 80px;
    width: calc(100% - 296px);
}

@media (min-width: 1280px) {
    .places {
        width: 984px;
    }
}

@media (max-width: 1125px) {
    .places {
        width: calc(100% - 96px);
    }
}

@media (max-width: 768px) {
    .places {
        width: calc(100% - 48px);
        margin-top: 88px;
    }
}

@media (max-width: 590px) {
    .places {
        width: 100%;
        margin-top: 64px;
    }
}