.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    width: calc(100% - 296px);
}

@media (min-width: 1280px) {
    .lead {
        width: 984px;
    }
}

@media (max-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
        margin-top: 48px;
    }
}

@media (max-width: 768px) {
    .lead {
        width: 100%;
    }
}