.header {
    margin-top: 28px;
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

@media (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
}