.place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2);
    grid-template-areas: "title website" "image paragraphs";
    row-gap: 48px;
    column-gap: 40px;
}